
<% @friends.each do |user_id, friends| %>
  <% if user_id == current_user&.id%>
    <%= render 'friend_carousel', user_id: user_id, friends: friends, header: "Your Friends" %>
    <br/>
  <% end %>
<% end %>



<% @friends.each do |user_id, friends| %>
  <% if !current_user || current_user.id != user_id %>
    <%= render 'friend_carousel', user_id: user_id, friends: friends, header: @users[user_id] + "'s Friends" %>
    <br/>
  <% end %>
<% end %>

<% if user_signed_in? %>
  <h1>Friends List</h1>

  <table class="table table-success table-striped table-hover">
    <thead>
      <tr>
        <th>First Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Twitter</th>
        <th colspan="2"></th>
      </tr>
    </thead>
    <tbody>
      <% (@friends[current_user.id]).each do |friend|%> <%# we might need to check if current user has any friends%>
        <% if friend.user == current_user%>
          <%= render friend %>
        <% end %>
      <% end %>
    </tbody>
  </table>

  <%# <button type="button" class="btn btn-secondary">Secondary</button> %>

  <%= link_to "New friend", new_friend_path, class:"btn btn-secondary" %>
  <br/>
  <br/>
<% end %>